# The .env file for a simple Chat Application
# Github Link: https://github.com/RazCrimson/ChatApplication

# MongoDB Credentials
MONGODB_CONNECTION_STRING =

# App configuration
APP_HOST =
APP_PORT =
APP_DEBUG =

# JWT
JWT_SECRET_KEY =
JWT_ACCESS_CSRF_COOKIE_NAME =
JWT_ACCESS_CSRF_HEADER_NAME =
JWT_REFRESH_CSRF_COOKIE_NAME =
JWT_REFRESH_CSRF_HEADER_NAME =
JWT_COOKIE_SECURE =

# SocketIO
SOCKET_IO_MESSAGE_QUEUE =